[Unit]
Description=NordVPN Daemon Socket
PartOf=nordvpnd.service

[Socket]
ListenStream=/run/nordvpnd.sock
NoDelay=true

[Install]
WantedBy=sockets.target